.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;;
}


.align-center {
  align-content: center;
}

.justify-center {
  justify-content: center;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
